.places {
    margin: 0;
    min-width: 320px;
    padding-top: 14px;
    display: flex;
    flex-direction: column;

}

@media screen and (min-width: 768px) {

    .places {
        margin: auto;
        display: grid;
        width: calc(100% - 48px);
        padding-top: 18px;
    }

}

@media screen and (min-width: 1024px) {

    .places {
        width: calc(100% - 96px);
        padding-top: 16px;
    }

}

@media screen and (min-width: 1280px) {

    .places {
        padding-top: 12px;
        max-width: 984px;
    }

}