.cover__subtitle {
    margin: 0;
    max-width: 288px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    z-index: 2;
    text-align: center;
    padding-top: 16px;
    position: relative;
}

@media screen and (min-width: 768px) {

    .cover__subtitle {
        max-width: 360px;
        font-style: normal;
        font-size: 18px;
        line-height: 22px;
        padding-top: 32px;
    }
}