.header {
    max-width: 288px;
    max-height: 42px;
    padding-top: 16px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {

    .header {
        max-width: 720px;
        max-height: 52px;
        padding-top: 28px;
    }

}

@media screen and (min-width: 1024px) {

    .header {
        max-width: 928px;
        max-height: 52px;
        padding-top: 28px;
    }

}

@media screen and (min-width: 1280px) {

    .header {
        max-width: 1184px;
        max-height: 52px;
        padding-top: 28px;
    }

}