.lead__title {
    min-width: 288px;
    min-height: 88px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: auto;
}

@media screen and (min-width: 768px) {

    .lead__title {
        width: calc(100% - 48px);
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;

    }

}

@media screen and (min-width: 1024px) {

    .lead__title {
        width: calc(100% - 208px);

    }

}

@media screen and (min-width: 1280px) {

    .lead__title {
        width: calc(100% - 264px);
        max-height: 200px;
    }

}