.footer__links {
    display: flex;
    flex-direction: column;    
    list-style-type: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {

    .footer__links {
        display: flex;
        flex-direction: row;
        column-gap: 18px;
    }

}

@media screen and (min-width: 1024px) {

    .footer__links {
    }

}

@media screen and (min-width: 1280px) {

    .footer__links {}

}