.intro {
    max-width: 288px;
    max-height: 754px;
    display: block;
    padding-top: 64px;
    margin: auto;
    left: 16px;
}

@media screen and (min-width: 768px) {

    .intro {
        margin: auto;
        max-width: 720px;
        max-height: 429px;
        padding-top: 88px;
        left: 24px;
    }

}

@media screen and (min-width: 1024px) {

    .intro {
        padding-left: 48px;
        max-width: 690px;
        max-height: 429px;
        padding-top: 92px;
    }

}

@media screen and (min-width: 1280px) {

    .intro {
        padding-left: 148px;
        max-width: 690px;
        max-height: 429px;
        padding-top: 92px;
    }

}