.intro {
    width: calc(100% - 32px);
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen and (min-width: 768px) {

    .intro {
        width: calc(100% - 48px);
    }

}

@media screen and (min-width: 1024px) {

    .intro {
        align-items: left;
        max-width: 928px;
        padding-top: 92px;
    }

}

@media screen and (min-width: 1280px) {

    .intro {
        padding-top: 92px;
        max-width: 690px;

    }

}