.lead__subtitle {
    margin: auto;
    padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .lead__subtitle {
        max-width: calc(100% - 128px)
    }

}

@media screen and (min-width: 1024px) {

    .lead__subtitle {
        max-width: calc(100% -288px)
    }

}

@media screen and (min-width: 1280px) {

    .lead__subtitle {
        width: calc(100% - 264px);

    }

}