.lead__subtitle {
    margin: 0 auto;
    width: 90%;
    padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .lead__subtitle {
        max-width: 640px;
        padding-top: 32px;
        font-size: 30px;
        line-height: 36px;
    }

}
