.place__website {
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width: 768px) {

    .place__website {
        margin: 0;
        align-self: end;
    }
    
}